/*************/
/*   FONTS   */
/*************/
@font-face {
	font-family: mario64;
	src: url("../fonts/Mario64.ttf");
}
@font-face {
	font-family: marioSunshine;
	src: url("../fonts/sunshine.OTF")
}
@font-face {
	font-family: marioOdyssey;
	src: url("../fonts/odyssey.otf");
}


/*************/
/* CSS RESET */
/*************/
/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}
button:not([disabled]) {
  cursor:pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
/* De enige relevante kleuren die ik heb zijn de drie tinten groen voor de buizen. Omdat deze steeds terugkomen heb ik ze dan ook gedefinieerd als custom properties */
:root {
  --color-pipesLight: lime;
  --color-pipesMedium: green;
  --color-pipesDark: darkgreen;
}


/********************/
/* ALGEMENE STYLING */
/********************/
body {
  background-color: #fff;
  margin:0;
  overflow: hidden;
}

/* 
Ik denk dat hier het gebruik van een id onvermijdelijk is omdat de image niet opgeroepen
kan worden zonder de andere images te raken omdat hij algemener is doordat hij direct in de main staat en buiten de ol.
Daarnaast is het ook makkelijk om hem dan in JS op de roepen mbv 'getElementById
*/
#imageJumpScare {
	visibility: visible;
	position: absolute;
	z-index: 80003;
	top:0vh;
	left: 0vw;
	width: 0vw;
	height: 0vh;

	animation: boe;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-play-state: paused;
}
#imageJumpScare.jumpscare {
	animation-play-state: running;

}

img:hover {
	cursor: crosshair;
}
nav:hover, p:hover {
	cursor: pointer;
}
button:hover {
	cursor: help;
}

main ol {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

ol li {
  align-items: flex-end;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  width: 25vw;
}


/*
Alle 4 de listitems hebben ongeveer dezelfde elementen. De vier blokken code hier onder zijn dus ook van die vier
delen. Hierin zitten de button, image en p inclusief after.
*/
ol li:first-of-type {
	background-image: url(../assets/scenery64.jpeg);
	background-size: 25vw 100vh;
	color: #fff;
	display: flex;
	flex-flow: row wrap;
	font-family: mario64, Courier, monospace;
	font-size: 1.5em;
	position: relative;
}
ol li:first-of-type button {
	border: none;
	position:relative;
	height:30vh;
	width:18vw;
	background-image:
		linear-gradient(
			to right,
			var(--color-pipesMedium) 33%,
			var(--color-pipesLight) 25%,
      var(--color-pipesLight) 75%,
			var(--color-pipesDark) 66%
		);
  border-radius:0 0 0 0;
  box-shadow:
	inset 0 -1.2em .5em -.5em rgb(0 0 0 / .35),
    inset 0 2em .5em -.5em rgb(0 0 0 / .70);
  display:grid;
  justify-items:center;
}
ol li:first-of-type button:hover, ol li:first-of-type button:focus {
	transition: .75s;
	box-shadow:
	inset 0 -1.2em .5em -.5em rgb(0 0 0 / .35),
    inset 0 2.5em .5em -.5em rgb(0 0 0 / .70);
}
ol li:first-of-type button::after {
	content:"";
	position:absolute;
	bottom:100%;
	width: 18vw;
	height: 8vh;
	border-radius:0em 0em 0em 0em;
	background-image:
		linear-gradient(
			to right,
			var(--color-pipesMedium) 28%,
			var(--color-pipesLight) 20%,
      var(--color-pipesLight) 70%,
			var(--color-pipesDark) 66%
		);
}
ol li:first-of-type p {
	align-self: flex-start;
	background-color: rgb(0 0 0/ .70);
	height: 21vh;
	line-height: 1.5em;
	margin: 3vh 0 0 0;
	padding: 10px 25px 25px 10px;
	position: relative;
	width: 17vw;
	height: auto;
	min-height: 4em;
}
ol li:first-of-type p::after {
	content: "";
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 15px solid #fff;
	bottom:8%;
	height: 0;
	position: absolute;
	right: 4%;
	width: 0;
}
ol li:first-of-type img {
	height: 18vh;
	margin-top: 0vh;
	position: absolute;
	top: 35vh;
	width: 15vw;
	object-fit: contain;
	min-width: 7em;
	animation-name: powerDown;

	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-play-state: paused;
}
ol li:first-of-type img.uitDeBuis {
	animation-play-state: running;
}


ol li:nth-of-type(2) {
	background-image: url("../assets/scenerySun.jpg");
	background-size: 25vw 100vh;
	color: #fff;
	display: flex;
	flex-flow: row wrap;
	font-family: marioSunshine, Helvetica, sans-serif;
	font-size: 1.1em;
}
ol li:nth-of-type(2) button {
	border: none;
	position:relative;
	height:31vh;
	width:18vw;
	background-image:
		linear-gradient(
			to right,
			var(--color-pipesDark),
			var(--color-pipesMedium),
			var(--color-pipesMedium) 33%,
			var(--color-pipesLight)
		);
	border-radius:0 0 0 0;
	box-shadow:
		inset 0 -.5em .5em -.5em rgb(0 0 0 / .75);
	display:grid;
	justify-items:center;
}
ol li:nth-of-type(2) button:hover, ol li:nth-of-type(2) button:focus {
	transition: 2s;
	background-image: 
		linear-gradient(
			to left,
			var(--color-pipesDark),
			var(--color-pipesMedium),
			var(--color-pipesMedium) 33%,
			var(--color-pipesLight)
		);
}
ol li:nth-of-type(2) button::after {
	content:"";

	border-radius:.8em .8em 0em 0em;
	bottom:100%;
	height: 8vh;
	position:absolute;
	width: 20vw;
	background-image:
		linear-gradient(
			to right,
			var(--color-pipesDark),
			var(--color-pipesMedium),
			var(--color-pipesMedium) 33%,
			var(--color-pipesLight)
		);
		box-shadow:
			inset 0 -.80em .5em -.75em rgb(0 0 0 / .80),
			inset 0 1.55em 0em -.75em rgb(255 255 255 / .45);
}
ol li:nth-of-type(2) p:first-of-type {
	align-self: flex-start;
	text-align: center;
	justify-content: space-between;
	width: 20vw;
	height: 5vh;
	background-color: rgb(0 0 190/ .80);
	border-radius: 25px;
	margin: 6.5vh 0 0 0;
	padding: 1vh 0 0 0;
	position: relative;
	height: auto;
	min-height: 3em;
}
ol li:nth-of-type(2) p:nth-of-type(2) {
	align-self: flex-start;
	text-align: center;
	justify-content: space-between;
	width: 20vw;
	height: 5vh;
	background-color: rgb(0 0 190/ .80);
	border-radius: 25px;
	margin: -17vh 0 0 0;
	padding: 1vh 0 0 0;
	position: relative;
	height: auto;
	min-height: 3em;
}
ol li:nth-of-type(2) img {
	height: 28vh;
	top: 30vh;
	margin-top: 0vh;
	position: absolute;
	width: 10vw;
	min-width: 7em;
	object-fit: contain;

	animation-name: powerDown;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-play-state: paused;
}
ol li:nth-of-type(2) img.uitDeBuis {
	animation-play-state: running;
}


ol li:nth-of-type(3) {
	background-image: url("../assets/sceneryGal.jpg");
	background-size: 25vw 100vh;
	color: #000;
	display: flex;
	flex-flow: row wrap;
	font-family: marioSunshine, Helvetica, sans-serif;
	font-size: 1.25em;
}
ol li:nth-of-type(3) button {
	border: none;
	height:30vh;
	position:relative;
	width:14vw;
	background-image:
		linear-gradient(
			to right,
			var(--color-pipesDark),
			var(--color-pipesLight),
			var(--color-pipesDark) 34%,
      var(--color-pipesLight) 60%,
			var(--color-pipesDark)
		);
	border-radius:0 0 .5em .5em;
	box-shadow:
		inset 0 1em 1em -1em rgb(0 0 0 / .5),
		inset 0 -.5em .5em -.5em rgb(0 0 0 / .75);
	display:grid;
	justify-items:center;
}
ol li:nth-of-type(3) button:hover, ol li:nth-of-type(3) button:focus {
	transition: 3s;
	height:18vh;
	width:14vw;
}
ol li:nth-of-type(3) button::after {
  content:"";
  
  position:absolute;
  bottom:100%;
  width: 16vw;
  height: 8vh;
  border-radius:.5em;
  background-image:
		linear-gradient(
			to right,
			var(--color-pipesDark),
			var(--color-pipesLight),
			var(--color-pipesDark) 34%,
      var(--color-pipesLight) 60%,
			var(--color-pipesDark)
		);
	box-shadow:
		inset 0 -.5em .5em -.5em rgb(0 0 0 / .75),
		inset 0 .5em .5em -.5em rgb(255 255 255 / .75);
}
ol li:nth-of-type(3) p {
	align-self: flex-start;
	background-color: #fff;
	border-radius: 30px;
	border: 4px solid gray;
	box-shadow: 8px 8px 2px 0px rgb(0 0 0 / .35);
	height: auto;
	min-height: 10vh;
	line-height: 1.25em;
	margin: 6.5vh 0 3vh 0;
	padding: .25em 3.5em .5em .75em;
	position: relative;
	width: 20vw;
}
ol li:nth-of-type(3) p::after {
	content: "A";
	
	border: 2px solid #000;
	bottom: 10%;
	box-shadow:
		inset 4px 4px 2px 0px rgb(0 0 0 / .25);
	border-radius: 10em;
	height: 2.25em;
	line-height: 2em;
	padding: 0 auto;
	position: absolute;
	right: 5%;
	text-align: center;
	width: 2.25em;
}
ol li:nth-of-type(3) img {
	height: 23vh;
	margin-top: 0vh;
	position: absolute;
	top: 35vh;
	width: 12vw;
	min-width: 7em;
	object-fit: contain;

	animation-name: powerDown;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-play-state: paused;
}
ol li:nth-of-type(3) img.uitDeBuis {
	animation-play-state: running;
}


ol li:nth-of-type(4) {
	background-image: url(../assets/sceneryOdy.jpg);
	background-size: 25vw 100vh;
	color: #fff;
	display: flex;
	flex-flow: row wrap;
	font-family: marioOdyssey, Verdana, sans-serif;
	font-size: 1.1em;
}
ol li:nth-of-type(4) button {
	border: none;
	position: relative;
	height:29vh;
	width:14vw;
	background-image:
		linear-gradient(
			to right,
			var(--color-pipesLight),
			#fff,
			var(--color-pipesLight) 33%,
			var(--color-pipesDark)
		);
	border-radius:0 0 .5em .5em;
	box-shadow:
		inset 0 1em 1em -1em rgb(0 0 0 / .5),
		inset 0 -.5em .5em -.5em rgb(0 0 0 / .75);
	display:grid;
	justify-items:center;
}
ol li:nth-of-type(4) button:hover, ol li:nth-of-type(4) button:focus {
	transition: 2s;
	border-radius: 10em 10em 10em 10em;
}
ol li:nth-of-type(4) button::after {
  content:"";
  border-radius:.5em;
  bottom:100%;
  height: 9vh;
  position:absolute;
  width: 16vw;
  background-image:
		linear-gradient(
			to right,
			var(--color-pipesLight),
			#fff,
			var(--color-pipesLight) 33%,
			var(--color-pipesDark)
		);
	box-shadow:
		inset 0 -.5em .5em -.5em rgb(0 0 0 / .75),
		inset 0 .5em .5em -.5em rgb(255 255 255 / .75);
}
ol li:nth-of-type(4) p {
	align-self: flex-start;
	background-color: rgb(255 255 255 / .25);
	border-radius: 20px;
	height: auto;
	min-height: 10vh;
	line-height: 1.5em;
	margin: 6.5vh 0 3vh 0;
	padding: .5em 5em .25em .5em;
	position: relative;
	text-shadow: 2px 2px #000;
	width: 22vw;
}
ol li:nth-of-type(4) p::after {
	content: "B";

	background-color: #000;
	border-radius: 10em;
	border: 2px solid #000;
	bottom: 20%;
	color: rgb(255 255 255 / .8);
	height: 2.25em;
	line-height: 2;
	padding: 0 auto;
	position: absolute;
	right: 8%;
	text-align: center;
	width: 2.25em;
}
ol li:nth-of-type(4) img {
	height: 15vh;
	margin-bottom: 8vh;
	position: absolute;
	top: 35vh;
	width: 12vw;
	min-width: 7em;
	object-fit: contain;

	animation-name: powerDown;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-play-state: paused;
}
ol li:nth-of-type(4) img.uitDeBuis {
	animation-play-state: running;
}


/********************/
/*ANIMATIES BENOEMEN*/
/* 	   images   	 */
/********************/
/*
De animaties van de buizen zijn allemaal hetzelfde dus die heb ik benoemd met ol li button.
Hetzelfde geldt voor de images van de powerups die op hun plek blijven zweven, die heb ik benoemd met ol li img en dan
natuurlijk de class die hem met JS laat zweven.
*/
main ol li img.zweven {
	animation: zweven;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-play-state: paused;
}
main ol li img.zweven {
	animation-play-state: running;
}

ol li button {
	animation-name: pipeStretch;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-play-state: paused;
}
ol li button.playAnimation {
	animation-play-state: running;
}


/********************/
/*    ANIMATIES     */
/********************/
@keyframes pipeStretch {
  0%, 20% {
    transform:none;
  }
  16% {
    transform:scale(.9, 1.1); 
  }
  28% {
    transform:scale(1, 1); 
  }
  34% {
    transform:scale(.65, 1.25);
    animation-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000);
  }
  45%, 100% {
    transform:none;
  }
}
@keyframes powerDown {
	0% {
		opacity: 0;
		transform: scale(0%);
		margin-top: 30vh;
	}
	7% {
		opacity: 0;
		transform: scale(0%);
		margin-top: 30vh;
	}
	65% {
		opacity: 1;
		transform: scale(50%);
		margin-top: 10vh;
	}
	100% {
		opacity: 1;
		margin-top: 0vh;
		transform: scale(100%);
	}
}
@keyframes zweven {
	0% {
		transform: translatey(0px);
	}
	50% {

		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
@keyframes boe {
	0% {
		visibility: visible;
	}
	100% {
		transform: rotate(360deg);
		height: 100vh;
		width: 100vw;
	}
}


/********************/
/*  MEDIA QUERIES   */
/********************/
/*
De website is responsive voor grote laptopschermen, kleinere laptopschermen en ook voor mobiele devices.
*/

@media only screen and (max-width: 800px) {
	body {
		overflow:visible;
	}
	main ol {
		display: flex;
		flex-flow: row wrap;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	main ol li {
		display: flex;
		flex-flow: row wrap;
		color: #fff;
		height: 100vh;
		width: 100vw;
		justify-content: center;
  		align-items: flex-end;
	}
	ol li:first-of-type {
		background-size: 100vw 100vh;
		display: flex;
		flex-flow: row wrap;
	}

	ol li:first-of-type button {
		position:relative;
		height:35vh;
		width:50vw;
		background-image:
			linear-gradient(
				to right,
				var(--color-pipesMedium) 33%,
				var(--color-pipesLight) 25%,
      			var(--color-pipesLight) 75%,
				var(--color-pipesDark) 66%
			);
  		border-radius:0 0 0 0;
  		box-shadow:
			inset 0 -1.2em .5em -.5em rgb(0 0 0 / .35),
    		inset 0 2em .5em -.5em rgb(0 0 0 / .70);
	}
	ol li:first-of-type button::after {
		content:"";
		position:absolute;
		bottom:100%;
		width: 50vw;
		height: 12vh;
		border-radius:0em 0em 0em 0em;
		background-image:
			linear-gradient(
				to right,
				var(--color-pipesMedium) 28%,
				var(--color-pipesLight) 20%,
		  var(--color-pipesLight) 70%,
				var(--color-pipesDark) 66%
			);
	}
	ol li:nth-of-type(2) button {
		position:relative;
		height:35vh;
		width:50vw;
		background-image:
			linear-gradient(
				to right,
				var(--color-pipesDark),
				var(--color-pipesMedium),
				var(--color-pipesMedium) 33%,
				var(--color-pipesLight)
			);
		border-radius:0 0 0 0;
		box-shadow:
			inset 0 -.5em .5em -.5em rgb(0 0 0 / .75);
	}
	ol li:nth-of-type(2) button::after {
		content:"";
	
		border-radius:.8em .8em 0em 0em;
		bottom:100%;
		height: 12vh;
		width: 55vw;
		position:absolute;
		background-image:
			linear-gradient(
				to right,
				var(--color-pipesDark),
				var(--color-pipesMedium),
				var(--color-pipesMedium) 33%,
				var(--color-pipesLight)
			);
			box-shadow:
				inset 0 -.80em .5em -.75em rgb(0 0 0 / .80),
				inset 0 1.55em 0em -.75em rgb(255 255 255 / .45);
	}
	ol li:nth-of-type(3) button {
		position:relative;
		height: 35vh;
		width:50vw;
		background-image:
			linear-gradient(
				to right,
				var(--color-pipesDark),
				var(--color-pipesLight),
				var(--color-pipesDark) 34%,
		  var(--color-pipesLight) 60%,
				var(--color-pipesDark)
			);
		border-radius:0 0 .5em .5em;
		box-shadow:
			inset 0 1em 1em -1em rgb(0 0 0 / .5),
			inset 0 -.5em .5em -.5em rgb(0 0 0 / .75);
	}
	ol li:nth-of-type(3) button::after {
	  content:"";
	  
	  position:absolute;
	  bottom:100%;
	  width: 55vw;
	  height: 12vh;
	  border-radius:.5em;
	  background-image:
			linear-gradient(
				to right,
				var(--color-pipesDark),
				var(--color-pipesLight),
				var(--color-pipesDark) 34%,
		  var(--color-pipesLight) 60%,
				var(--color-pipesDark)
			);
		box-shadow:
			inset 0 -.5em .5em -.5em rgb(0 0 0 / .75),
			inset 0 .5em .5em -.5em rgb(255 255 255 / .75);
	}
	ol li:nth-of-type(4) button {
		position: relative;
		height:35vh;
		width:50vw;
		background-image:
			linear-gradient(
				to right,
				var(--color-pipesLight),
				#fff,
				var(--color-pipesLight) 33%,
				var(--color-pipesDark)
			);
		border-radius:0 0 .5em .5em;
		box-shadow:
			inset 0 1em 1em -1em rgb(0 0 0 / .5),
			inset 0 -.5em .5em -.5em rgb(0 0 0 / .75);
	}
	ol li:nth-of-type(4) button::after {
	  content:"";
	  border-radius:.5em;
	  bottom:100%;
	  height: 12vh;
	  width: 55vw;
	  position:absolute;
	  background-image:
			linear-gradient(
				to right,
				var(--color-pipesLight),
				#fff,
				var(--color-pipesLight) 33%,
				var(--color-pipesDark)
			);
		box-shadow:
			inset 0 -.5em .5em -.5em rgb(0 0 0 / .75),
			inset 0 .5em .5em -.5em rgb(255 255 255 / .75);
	}


	ol li:first-of-type p {
		width: 65vw;
	}
	ol li:nth-of-type(2) p:first-of-type {
		width: 65vw;
	}
	ol li:nth-of-type(2) p:last-of-type {
		width: 65vw;
		margin: -15.5vh 0 0 0;
	}
	ol li:nth-of-type(3) p {
		width: 65vw;
	}
	ol li:nth-of-type(4) p {
		width: 65vw;
	}

	ol li:first-of-type img {
		min-width: 12em;
		top: 25vh;
	}
	ol li:nth-of-type(2) img {
		min-width: 12em;
		top: 130vh;
	}
	ol li:nth-of-type(3) img {
		top: 225vh;
		min-width: 12em;
	}
	ol li:nth-of-type(4) img {
		min-width: 12em;
		top: 325vh;
	}

	ol li:nth-of-type(2) {
		background-size: 100vw 100vh;
	}
	ol li:nth-of-type(3) {
		background-size: 100vw 100vh;
	}
	ol li:nth-of-type(4) {
		background-size: 100vw 100vh;
	}
}

@media only screen and (min-width: 801px) and (max-width: 1350px) {
	body {
		overflow:visible;
	}
	main ol {
		overflow-x: hidden;
		display: flex;
		flex-flow: row wrap;
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100vw;
	}
	main ol li {
		display: flex;
		flex-flow: row wrap;
		color: #fff;
		height: 100vh;
		width: 49.3vw;
		justify-content: center;
  		align-items: flex-end;
	}
	ol li:first-of-type {
		background-size: 50vw 100vh;
	}
	ol li:nth-of-type(2) {
		background-size: 50vw 100vh;
	}
	ol li:nth-of-type(3) {
		background-size: 50vw 100vh;
	}
	ol li:nth-of-type(4) {
		background-size: 50vw 100vh;
	}

	ol li:first-of-type p {
		width: 40vw;
	}
	ol li:nth-of-type(2) p:first-of-type {
		width: 40vw;
	}
	ol li:nth-of-type(2) p:last-of-type {
		width: 40vw;
		margin: -15.5vh 0 0 0;
	}
	ol li:nth-of-type(3) p {
		width: 40vw;
	}
	ol li:nth-of-type(4) p {
		width: 40vw;
	}

	ol li:first-of-type button {
		position:relative;
		height:30vh;
		width:25vw;
	}
	ol li:first-of-type button::after {
		content:"";
		position:absolute;
		bottom:100%;
		width: 25vw;
		height: 10vh;
	}
	ol li:nth-of-type(2) button {
		position:relative;
		height:30vh;
		width:25vw;
	}
	ol li:nth-of-type(2) button::after {
		content:"";
	
		border-radius:.8em .8em 0em 0em;
		bottom:100%;
		height: 10vh;
		width: 30vw;
		position:absolute;
	}
	ol li:nth-of-type(3) button {
		position:relative;
		height: 30vh;
		width:25vw;
	}
	ol li:nth-of-type(3) button::after {
	  content:"";
	  
	  position:absolute;
	  bottom:100%;
	  width: 30vw;
	  height: 10vh;
	}
	ol li:nth-of-type(4) button {
		position: relative;
		height:30vh;
		width:25vw;
	}
	ol li:nth-of-type(4) button::after {
	  content:"";
	  border-radius:.5em;
	  bottom:100%;
	  height: 10vh;
	  width: 30vw;

	}

	ol li:first-of-type img {
		min-width: 12em;
		top: 30vh;
	}
	ol li:nth-of-type(2) img {
		min-width: 12em;
		top: 30vh;
	}
	ol li:nth-of-type(3) img {
		top: 135vh;
		min-width: 12em;
	}
	ol li:nth-of-type(4) img {
		min-width: 12em;
		top: 135vh;
	}
}