@font-face {
	font-family: mario64;
	src: url("../fonts/Mario64.ttf");
}
@font-face {
	font-family: marioSunshine;
	src: url("../fonts/sunshine.OTF")
}



/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not([disabled]) {
  cursor:pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --color-pipesLight: lime;
  --color-pipesMedium: green;
  --color-pipesDark: darkgreen;
}



/********************/
/* ALGEMENE STYLING */
/********************/
body {
  margin:0;
  background-color: #fff;
}

main ol {
  display: flex;
  flex-flow: row nowrap;

  list-style: none;
  margin: 0;
  padding: 0;
}

ol li {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 25vw;

  border: 1px solid black;

  background-color: #fff;
  justify-content: center;
  align-items: flex-end;
}


/* ol li:first-of-type {
  background-color: #fff;
  justify-content: center;
  align-items: flex-end;
} */

ol li:first-of-type {
	display: flex;
	flex-flow: row wrap;

	color: #fff;
	font-family: mario64;
	font-size: 1.5em;
}

ol li:first-of-type div:first-of-type {
  position:relative;

	height:28vh;
	width:18vw;
	
	background-image:
		linear-gradient(
			to right,
			var(--color-pipesMedium) 33%,
			var(--color-pipesLight) 25%,
      var(--color-pipesLight) 75%,
			var(--color-pipesDark) 66%
		);
  border-radius:0 0 0 0;
  box-shadow:
		inset 0 -1.2em .5em -.5em rgb(0 0 0 / .35),
    inset 0 2em .5em -.5em rgb(0 0 0 / .70);

  display:grid;
	justify-items:center;
}
ol li:first-of-type div:first-of-type::after {
  content:"";
	position:absolute;

	bottom:100%;
	width: 18vw;
	height: 8vh;
	
	border-radius:0em 0em 0em 0em;
	
	background-image:
		linear-gradient(
			to right,
			var(--color-pipesMedium) 28%,
			var(--color-pipesLight) 20%,
      var(--color-pipesLight) 70%,
			var(--color-pipesDark) 66%
		);
}
ol li:first-of-type nav {
	align-self: flex-start;
	position: relative;

	margin: 3vh 0 0 0;
	padding: 10px 25px 25px 10px;
	
	height: 21vh;
	width: 17vw;

	background-color: rgb(0 0 0/ .70);
}
ol li:first-of-type nav::after {
	content: "";
	position: absolute;

	bottom:5%;
	right: 4%;
	width: 0;
	height: 0;

	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 15px solid #fff;
}


ol li:nth-of-type(2) {
	display: flex;
	flex-flow: row wrap;

	color: #fff;
	font-family: marioSunshine;
	font-size: 1.5em;
}

ol li:nth-of-type(2) div:first-of-type {
  position:relative;

	height:35vh;
	width:18vw;
	
	background-image:
		linear-gradient(
			to right,
			var(--color-pipesDark),
			var(--color-pipesMedium),
			var(--color-pipesMedium) 33%,
			var(--color-pipesLight)
		);
  border-radius:0 0 0 0;
  box-shadow:
		inset 0 -.5em .5em -.5em rgb(0 0 0 / .75);

  display:grid;
	justify-items:center;
}
ol li:nth-of-type(2) div:first-of-type::after {
  content:"";
	position:absolute;

	bottom:100%;
	width: 20vw;
	height: 8vh;
	
	border-radius:.8em .8em 0em 0em;
	
	background-image:
		linear-gradient(
			to right,
			var(--color-pipesDark),
			var(--color-pipesMedium),
			var(--color-pipesMedium) 33%,
			var(--color-pipesLight)
		);
	
		box-shadow:
			inset 0 -.80em .5em -.75em rgb(0 0 0 / .80),
			inset 0 1.55em 0em -.75em rgb(255 255 255 / .45);
}
ol li:nth-of-type(2) nav {
	align-self: flex-start;
	position: relative;

	margin: 3vh 0 3vh 0;
	padding: 10px 25px 25px 10px;
	
	height: 3vh;
	width: 17vw;

	background-color: rgb(0 0 190/ .70);
}

ol li:nth-of-type(2) nav::before {
	content: "Oh no! The villagers are trapped";
	
	height: 3vh;
	width: 17vw;

	background-color: rgb(0 0 190/ .70);
}
ol li:nth-of-type(2) nav::after {
	content: "they will fucking die!";

	height: 3vh;
	width: 17vw;

	background-color: rgb(0 0 190/ .70);
}



ol li:nth-of-type(3) div:first-of-type {
  position:relative;

	height:45vh;
	width:13vw;
	
	background-image:
		linear-gradient(
			to right,
			var(--color-pipesDark),
			var(--color-pipesLight),
			var(--color-pipesDark) 34%,
      var(--color-pipesLight) 60%,
			var(--color-pipesDark)
		);
  border-radius:0 0 .5em .5em;
  box-shadow:
		inset 0 1em 1em -1em rgb(0 0 0 / .5),
		inset 0 -.5em .5em -.5em rgb(0 0 0 / .75);

  display:grid;
	justify-items:center;
}
ol li:nth-of-type(3) div:first-of-type::after {
  content:"";
	position:absolute;

	bottom:100%;
	width: 15vw;
	height: 8vh;
	
	border-radius:.5em;
	
	background-image:
		linear-gradient(
			to right,
			var(--color-pipesDark),
			var(--color-pipesLight),
			var(--color-pipesDark) 34%,
      var(--color-pipesLight) 60%,
			var(--color-pipesDark)
		);
	
		box-shadow:
			inset 0 -.5em .5em -.5em rgb(0 0 0 / .75),
			inset 0 .5em .5em -.5em rgb(255 255 255 / .75);
}

ol li:nth-of-type(4) div:first-of-type {
  position: relative;
  height:40vh;
	width:14vw;

  background-image:
		linear-gradient(
			to right,
			var(--color-pipesLight),
			#fff,
			var(--color-pipesLight) 33%,
			var(--color-pipesDark)
		);
	
	border-radius:0 0 .5em .5em;
	
	box-shadow:
		inset 0 1em 1em -1em rgb(0 0 0 / .5),
		inset 0 -.5em .5em -.5em rgb(0 0 0 / .75);
	
	display:grid;
	justify-items:center;
}
ol li:nth-of-type(4) div:first-of-type::after {
  content:"";
	position:absolute;

  bottom:100%;
	width: 16vw;
	height: 10vh;
	
	border-radius:.5em;
	
	background-image:
		linear-gradient(
			to right,
			var(--color-pipesLight),
			#fff,
			var(--color-pipesLight) 33%,
			var(--color-pipesDark)
		);
	
		box-shadow:
			inset 0 -.5em .5em -.5em rgb(0 0 0 / .75),
			inset 0 .5em .5em -.5em rgb(255 255 255 / .75);
}

.pipe:hover {
  animation: pipeStretch 3s ease infinite;
}
@keyframes pipeStretch {
  0%, 20% {
    transform:none;
  }
  27% {
    transform:scale(.8, 1.2); 
  }
  34% {
    transform:scale(1, 1); 
  }
  38% {
    transform:scale(.65, 1.35);
    animation-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000);
  }
  45%, 100% {
    transform:none;
  }
}






/* h1 {
  color:var(--color-headings);
} */


/* ... */


