@font-face {
	font-family: mario64;
	src: url("../fonts/Mario64.ttf");
}
@font-face {
	font-family: marioSunshine;
	src: url("../fonts/sunshine.OTF")
}
@font-face {
	font-family: marioOdyssey;
	src: url("../fonts/odyssey.otf");
}


/*************/
/* CSS RESET */
/*************/
/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not([disabled]) {
  cursor:pointer;
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --color-pipesLight: lime;
  --color-pipesMedium: green;
  --color-pipesDark: darkgreen;
}

nav:hover {
	cursor: pointer;
}
div:hover {
	cursor: help;
}


/********************/
/* ALGEMENE STYLING */
/********************/
body {
  margin:0;
  background-color: #fff;
}

main ol {
  display: flex;
  flex-flow: row nowrap;

  list-style: none;
  margin: 0;
  padding: 0;
}

ol li {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 25vw;

  background-color: #fff;
  justify-content: center;
  align-items: flex-end;
}


ol li:first-of-type {
	display: flex;
	flex-flow: row wrap;

	color: #fff;
	font-family: mario64;
	font-size: 1.5em;

	background-image: url(../assets/scenery64.jpeg);
	background-size: 25vw 100vh;
}
ol li:first-of-type div:first-of-type {
  position:relative;

	height:30vh;
	width:18vw;
	
	background-image:
		linear-gradient(
			to right,
			var(--color-pipesMedium) 33%,
			var(--color-pipesLight) 25%,
      var(--color-pipesLight) 75%,
			var(--color-pipesDark) 66%
		);
  border-radius:0 0 0 0;
  box-shadow:
		inset 0 -1.2em .5em -.5em rgb(0 0 0 / .35),
    inset 0 2em .5em -.5em rgb(0 0 0 / .70);

  display:grid;
	justify-items:center;
}
ol li:first-of-type div:first-of-type::after {
  content:"";
	position:absolute;

	bottom:100%;
	width: 18vw;
	height: 8vh;
	
	border-radius:0em 0em 0em 0em;
	
	background-image:
		linear-gradient(
			to right,
			var(--color-pipesMedium) 28%,
			var(--color-pipesLight) 20%,
      var(--color-pipesLight) 70%,
			var(--color-pipesDark) 66%
		);
}
ol li:first-of-type nav {
	align-self: flex-start;
	position: relative;
	line-height: 1.5em;
	margin: 3vh 0 0 0;
	padding: 10px 25px 25px 10px;
	height: 21vh;
	width: 17vw;
	background-color: rgb(0 0 0/ .70);
}
ol li:first-of-type nav::after {
	content: "";
	position: absolute;

	bottom:5%;
	right: 4%;
	width: 0;
	height: 0;

	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 15px solid #fff;
}
ol li:first-of-type img {
	position: absolute;
	top: 35vh;
	left: 4.5vw;
	width: 15vw;
	height: 18vh;
	margin-top: 0vh;

	animation-name: powerDown;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-play-state: paused;
}
ol li:first-of-type img.uitDeBuis {
	animation-play-state: running;
}


ol li:nth-of-type(2) {
	display: flex;
	flex-flow: row wrap;

	color: #fff;
	font-family: marioSunshine;
	font-size: 1.2em;

	background-image: url("../assets/scenerySun.jpg");
	background-size: 25vw 100vh;
}
ol li:nth-of-type(2) div:first-of-type {
  position:relative;
  
  height:31vh;
  width:18vw;
	
	background-image:
		linear-gradient(
			to right,
			var(--color-pipesDark),
			var(--color-pipesMedium),
			var(--color-pipesMedium) 33%,
			var(--color-pipesLight)
		);
  border-radius:0 0 0 0;
  box-shadow:
		inset 0 -.5em .5em -.5em rgb(0 0 0 / .75);

  display:grid;
  justify-items:center;
}
ol li:nth-of-type(2) div:first-of-type::after {
	content:"";
	position:absolute;

	bottom:100%;
	width: 20vw;
	height: 8vh;
	
	border-radius:.8em .8em 0em 0em;
	
	background-image:
		linear-gradient(
			to right,
			var(--color-pipesDark),
			var(--color-pipesMedium),
			var(--color-pipesMedium) 33%,
			var(--color-pipesLight)
		);
	
		box-shadow:
			inset 0 -.80em .5em -.75em rgb(0 0 0 / .80),
			inset 0 1.55em 0em -.75em rgb(255 255 255 / .45);
}
ol li:nth-of-type(2) nav {
	align-self: flex-start;
	position: relative;

	border-radius: 25px;
	margin: 11vh 0 3vh 0;
	padding: 0px 0px;
	
	height: 4vh;
	width: 17vw;

	background-color: rgb(0 0 190/ .80);
}
ol li:nth-of-type(2) nav::before {
	content: "Oh no! The villagers are ";
	position:absolute;
	bottom:120%;

	border-radius: 25px;
	height: 4vh;
	width: 17vw;

	text-align: center;

	background-color: rgb(0 0 190/ .80);
}
ol li:nth-of-type(2) nav::after {
	content: "they will fucking die!";
	position:absolute;
	top:120%;

	border-radius: 25px;
	height: 4vh;
	width: 17vw;

	text-align: center;

	background-color: rgb(0 0 190/ .80);
}
ol li:nth-of-type(2) img {
	position: absolute;
	top: 30vh;
	left: 32vw;
	width: 10vw;
	height: 28vh;
	margin-top: 0vh;

	animation-name: powerDown;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-play-state: paused;
}
ol li:nth-of-type(2) img.uitDeBuis {
	animation-play-state: running;
}


ol li:nth-of-type(3) {
	display: flex;
	flex-flow: row wrap;

	color: #000;
	font-family: marioSunshine;
	font-size: 1.25em;

	background-image: url("../assets/sceneryGal.jpg");
	background-size: 25vw 100vh;
}
ol li:nth-of-type(3) div:first-of-type {
  position:relative;

	height:30vh;
	width:14vw;
	
	background-image:
		linear-gradient(
			to right,
			var(--color-pipesDark),
			var(--color-pipesLight),
			var(--color-pipesDark) 34%,
      var(--color-pipesLight) 60%,
			var(--color-pipesDark)
		);
  border-radius:0 0 .5em .5em;
  box-shadow:
		inset 0 1em 1em -1em rgb(0 0 0 / .5),
		inset 0 -.5em .5em -.5em rgb(0 0 0 / .75);

  display:grid;
	justify-items:center;
}
ol li:nth-of-type(3) div:first-of-type::after {
  content:"";
	position:absolute;

	bottom:100%;
	width: 16vw;
	height: 8vh;
	
	border-radius:.5em;
	
	background-image:
		linear-gradient(
			to right,
			var(--color-pipesDark),
			var(--color-pipesLight),
			var(--color-pipesDark) 34%,
      var(--color-pipesLight) 60%,
			var(--color-pipesDark)
		);
	
		box-shadow:
			inset 0 -.5em .5em -.5em rgb(0 0 0 / .75),
			inset 0 .5em .5em -.5em rgb(255 255 255 / .75);
}
ol li:nth-of-type(3) nav {
	align-self: flex-start;
	position: relative;

	line-height: 1.25em;

	margin: 6.5vh 0 3vh 0;
	padding: .25em 3.5em .5em .75em;

	height: 12vh;
	width: 20vw;

	box-shadow: 8px 8px 2px 0px rgb(0 0 0 / .35);
	background-color: #fff;
	border: 4px solid gray;
	border-radius: 30px;
}
ol li:nth-of-type(3) nav::after {
	content: "A";
	position: absolute;

	bottom: 10%;
	right: 5%;

	height: 2.25em;
	width: 2.25em;

	padding: 0 auto;
	text-align: center;
	line-height: 2em;

	border: 2px solid #000;
	box-shadow:
		inset 4px 4px 2px 0px rgb(0 0 0 / .25);
	border-radius: 10em;
}
ol li:nth-of-type(3) img {
	position: absolute;
	top: 35vh;
	left: 56vw;
	width: 12vw;
	height: 23vh;
	margin-top: 0vh;

	animation-name: powerDown;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-play-state: paused;
}
ol li:nth-of-type(3) img.uitDeBuis {
	animation-play-state: running;
}


ol li:nth-of-type(4) {
	display: flex;
	flex-flow: row wrap;

	color: #fff;
	font-family: marioOdyssey;
	font-size: 1.1em;

	background-image: url(../assets/sceneryOdy.jpg);
	background-size: 25vw 100vh;
}
ol li:nth-of-type(4) div:first-of-type {
  position: relative;
  height:29vh;
	width:14vw;

  background-image:
		linear-gradient(
			to right,
			var(--color-pipesLight),
			#fff,
			var(--color-pipesLight) 33%,
			var(--color-pipesDark)
		);
	
	border-radius:0 0 .5em .5em;
	
	box-shadow:
		inset 0 1em 1em -1em rgb(0 0 0 / .5),
		inset 0 -.5em .5em -.5em rgb(0 0 0 / .75);
	
	display:grid;
	justify-items:center;
}
ol li:nth-of-type(4) div:first-of-type::after {
  content:"";
	position:absolute;

  bottom:100%;
	width: 16vw;
	height: 9vh;
	
	border-radius:.5em;
	
	background-image:
		linear-gradient(
			to right,
			var(--color-pipesLight),
			#fff,
			var(--color-pipesLight) 33%,
			var(--color-pipesDark)
		);
	
		box-shadow:
			inset 0 -.5em .5em -.5em rgb(0 0 0 / .75),
			inset 0 .5em .5em -.5em rgb(255 255 255 / .75);
}
ol li:nth-of-type(4) nav {
	align-self: flex-start;
	position: relative;

	line-height: 1.5em;

	margin: 6.5vh 0 3vh 0;
	padding: .5em 5em .25em .5em;

	height: 13vh;
	width: 22vw;
	background-color: rgb(255 255 255 / .25);
	border-radius: 20px;
	text-shadow: 2px 2px #000;
}
ol li:nth-of-type(4) nav::after {
	content: "A";
	position: absolute;

	color: rgb(255 255 255 / .8)	;
	background-color: #000;
	bottom: 20%;
	right: 8%;

	height: 2.25em;
	width: 2.25em;

	padding: 0 auto;
	text-align: center;
	line-height: 2;

	border: 2px solid #000;
	border-radius: 10em;
}
ol li:nth-of-type(4) img {
	position: absolute;
	top: 35vh;
	left: 81.5vw;
	width: 12vw;
	height: 15vh;
	margin-bottom: 8vh;

	animation-name: powerDown;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-play-state: paused;
}
ol li:nth-of-type(4) img.uitDeBuis {
	animation-play-state: running;
}
@keyframes powerDown {
	0% {
		opacity: 0;
		transform: scale(0%);
		margin-top: 30vh;
	}
	7% {
		opacity: 0;
		transform: scale(0%);
		margin-top: 30vh;
	}
	65% {
		opacity: 1;
		transform: scale(50%);
		margin-top: 10vh;
	}
	100% {
		opacity: 1;
		margin-top: 0vh;
		transform: scale(100%);
	}
}




.pipe {
	animation-name: pipeStretch;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-play-state: paused;
}
.pipe.playAnimation {
	animation-play-state: running;
}
@keyframes pipeStretch {
  0%, 20% {
    transform:none;
  }
  16% {
    transform:scale(.9, 1.1); 
  }
  28% {
    transform:scale(1, 1); 
  }
  34% {
    transform:scale(.65, 1.25);
    animation-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000);
  }
  45%, 100% {
    transform:none;
  }
}

@media only screen and (max-width: 800px) {
	main ol {
		display: flex;
		flex-flow: row wrap;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	main ol li {
		display: flex;
		flex-flow: row wrap;

		color: #fff;

		height: 100vh;
		width: 100vw;

		justify-content: center;
  		align-items: flex-end;
	}
	ol li:first-of-type {
		background-size: 100vw 100vh;

		display: flex;
		flex-flow: row wrap;
	}
	ol li:first-of-type div:first-of-type {
		position:relative;
		height:45vh;
		width:50vw;
		background-image:
			linear-gradient(
				to right,
				var(--color-pipesMedium) 33%,
				var(--color-pipesLight) 25%,
      			var(--color-pipesLight) 75%,
				var(--color-pipesDark) 66%
			);
  		border-radius:0 0 0 0;
  		box-shadow:
			inset 0 -1.2em .5em -.5em rgb(0 0 0 / .35),
    		inset 0 2em .5em -.5em rgb(0 0 0 / .70);
	}


	ol li:nth-of-type(2) {
		background-size: 100vw 100vh;
	}
	ol li:nth-of-type(3) {
		background-size: 100vw 100vh;
	}
	ol li:nth-of-type(4) {
		background-size: 100vw 100vh;
	}
  }